// Typography
$base-font-family: $helvetica;
$heading-font-family: $base-font-family;
$base-font-family-serif: georgia;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$turquoise: #47bdca;
$blue: #477dca;
$cream: #fdffe7;
$dark-gray: #333;
$deep-blue: #001123;
$light-gray: #ddd;
$medium-gray: #999;
$white: #fff;

// Font Colors
$base-font-color-on-dark: $white;
$base-font-color-on-light: $dark-gray;
$action-color: $turquoise;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $deep-blue;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
