body {
  background-color: $base-background-color;
  background-image: image-url("sea.jpg");
  background-position: bottom;
  min-height: 100vh;
}

input[type="submit"] {
  width: 100%;
}

.hero {
  $large-screen: 50em !default;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 5em 0 3rem;
  position: relative;

  h1 {
    font-family: $base-font-family-serif;
    font-size: 2em;
  }

  h2 {
    $border: 2px solid $cream;
    border-bottom: $border;
    border-top: $border;
    font-size: 1.3rem;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 0;
    padding: 0.5rem 1rem;
  }

  img {
    max-width: 16rem;
  }

  .hero-content {
    max-width: 24em;
    text-align: center;
  }

  .hero-logo {
    margin: 0 auto 1em;
  }
}

.container {
  margin-top: -6em;
  margin: auto;
  max-width: 30em;
  padding: 1em;
  position: relative;
}

.box {
  background: $cream;
  border-radius: $base-border-radius * 2;
  color: $base-font-color-on-light;
  padding: 1.8em;
  text-align: center;
}

.other-links {
  padding: 1em;
  text-align: center;
}
